<!-- <fm-pivot [licenseKey]="flexMonsterKey" [report]="'https://cdn.flexmonster.com/reports/report.json'">
</fm-pivot> -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-current-reserves></app-current-reserves>
    </div>
    <div class="col-md-12">
      <app-daily-extractions></app-daily-extractions>
    </div>
    <div class="col-md-12">
      <app-forecasting-depletion></app-forecasting-depletion>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-data-grid></app-data-grid>
    </div>
    <div class="col-md-6">
      <app-extractions-data-grid></app-extractions-data-grid>
    </div>
  </div>
</div>
